### Case Study: Sales Data Analysis

### Background

Imagine you're a data analyst at an electronics retail company. The company sells various products, such as smartphones, laptops, tablets, and accessories, through both its physical stores and online platform. You've been given a dataset containing sales data for the past year. The dataset includes information like the date of sale, product category, product name, number of units sold, unit price, and total sales amount. Your task is to analyze this data to extract meaningful insights that could help the sales and marketing teams make informed decisions.

### Dataset Structure

The sales data is structured as follows (presented in a simplified manner for this exercise):

- `Date`: The date of the sale (YYYY-MM-DD).
- `Category`: The category of the product (e.g., Smartphone, Laptop, Tablet, Accessories).
- `Product`: The name of the product.
- `Units Sold`: The number of units sold in the transaction.
- `Unit Price`: The price of one unit of the product.
- `Total Sales`: The total sales amount for the transaction (Units Sold * Unit Price).

### Questions

1. **Monthly Sales Analysis**: Calculate the total sales amount for each month. Identify which month had the highest sales and which had the lowest. What might be the reasons for this variation?
2. **Product Performance**: For each product category, find the top 3 products with the highest total sales amount. What does this suggest about consumer preferences within each category?
3. **Sales Trend Analysis**: Determine the month-over-month percentage change in total sales. Identify any trends or patterns. Are there any specific months where sales significantly increased or decreased?
4. **Price Impact on Sales Volume**: Analyze the relationship between unit price and units sold. Do higher-priced products tend to sell fewer units than lower-priced products, or is there no clear pattern?
5. **Seasonal Analysis**: Assuming you have data indicating whether a sale occurred in-store or online, compare the in-store vs. online sales volume across different seasons (Spring, Summer, Fall, Winter). How do sales channels perform in different seasons?

### Tasks

Your challenge is to use pandas to answer these questions. You'll need to perform data manipulation and aggregation operations such as grouping, filtering, calculating summary statistics, and possibly merging datasets if additional information (like seasonal data) is provided in separate files.

In [1]:
import pandas as pd
from io import StringIO

data = StringIO("""
Date,Category,Product,Units Sold,Unit Price,Total Sales
2023-01-05,Smartphone,X-Phone 12,20,750,15000
2023-01-15,Laptop,ProBook 15,10,1200,12000
2023-02-02,Tablet,Tab A10,30,350,10500
2023-02-20,Accessories,USB-C Charging Cable,50,15,750
2023-03-15,Smartphone,X-Phone 12,25,750,18750
2023-03-22,Laptop,ProBook 15,15,1200,18000
2023-04-18,Tablet,Tab A10,20,350,7000
2023-04-25,Accessories,USB-C Charging Cable,60,15,900
2023-05-06,Smartphone,Y-Phone 11,30,700,21000
2023-05-16,Laptop,Gamer Ultra,5,2500,12500
2023-06-03,Tablet,Tab A10,25,350,8750
2023-06-18,Accessories,Wireless Mouse,40,25,1000
""")

# Load the dataset into a DataFrame

sales_data = pd.read_csv(data, parse_dates=['Date'])

# Display the DataFrame

print(sales_data)

         Date     Category               Product  Units Sold  Unit Price  \
0  2023-01-05   Smartphone            X-Phone 12          20         750
1  2023-01-15       Laptop            ProBook 15          10        1200
2  2023-02-02       Tablet               Tab A10          30         350
3  2023-02-20  Accessories  USB-C Charging Cable          50          15
4  2023-03-15   Smartphone            X-Phone 12          25         750
5  2023-03-22       Laptop            ProBook 15          15        1200
6  2023-04-18       Tablet               Tab A10          20         350
7  2023-04-25  Accessories  USB-C Charging Cable          60          15
8  2023-05-06   Smartphone            Y-Phone 11          30         700
9  2023-05-16       Laptop           Gamer Ultra           5        2500
10 2023-06-03       Tablet               Tab A10          25         350
11 2023-06-18  Accessories        Wireless Mouse          40          25

    Total Sales
0         15000
1         12000
2         10500
3           750
4         18750
5         18000
6          7000
7           900
8         21000
9         12500
10         8750
11         1000

Monthly Sales Analysis: Calculate the total sales amount for each month. Identify which month had the highest sales and which had the lowest. What might be the reasons for this variation?

In [2]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         12 non-null     datetime64[ns]
 1   Category     12 non-null     object
 2   Product      12 non-null     object
 3   Units Sold   12 non-null     int64
 4   Unit Price   12 non-null     int64
 5   Total Sales  12 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 708.0+ bytes

In [14]:
df_grouped = sales_data.groupby([sales_data['Date'].dt.year.rename('Year'), sales_data['Date'].dt.month.rename('Month')])['Total Sales'].agg({'sum'})
df_grouped

              sum
Year Month
2023 1      27000
     2      11250
     3      36750
     4       7900
     5      33500
     6       9750

In [19]:
max_sales = df_grouped[df_grouped['sum'] == df_grouped['sum'].max()] 
max_sales

              sum
Year Month
2023 3      36750

In [20]:
min_sales = df_grouped[df_grouped['sum'] == df_grouped['sum'].min()] 
min_sales

             sum
Year Month
2023 4      7900